<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>Deante Mirijello</title>
  </head>
  <body>
    <slot />
    <script type="module" src="/src/i18n/i18n.js"></script>
  </body>
</html>
