---
import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact | Deante Mirijello</title>
  </head>

  <body>
    <Nav />

    <main>
      <h1>Contact</h1>
      <p>If you’d like to reach me, here’s the best way:</p>

      <ul>
        <li>Email: <a href="mailto:deante.mirijello@gmail.com">deante.mirijello@gmail.com</a></li>
        <li>Phone: (438) 498-5685</li>
        <li>GitHub: <a href="https://github.com/DeanteMirijello" target="_blank">github.com/DeanteMirijello</a></li>
        <li>LinkedIn: <a href="https://linkedin.com/in/deante-mirijello" target="_blank">linkedin.com/in/deante-mirijello</a></li>
      </ul>
    </main>
  </body>
</html>
